#container {

 margin:auto;
 margin-top: 50px;
 width: 600px;
 height: 600px;
 border: 5px solid black;
}

.board {
 width: 600px;
 height:600px;
}

div.cell {
 width: 75px;
 height: 75px;
 float: left;
}

div.cell {
 width: 75px;
 height: 75px;
 float: left;
}

div.cell-black {
 background-color: black;
}

div.cell-white {
 background-color: white;
}

div.piece-red {
/*background-image: url("Images/redCheckerPiece.gif");*/
 background-color: red;
 width: 50px;
 height: 50px;
 margin:auto;
 margin-top:12.5px;
 border-radius: 25px;
}

div.piece-grey {
 background-color: grey;
 width: 50px;
 height: 50px;
 margin:auto;
 margin-top:12.5px;
 border-radius: 25px;
}
